---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Página no encontrada">
    <main class="text-center">
        <h1 class="text-5xl font-extrabold">Error 404</h1>
    </main>
</Layout>