---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

export async function getStaticPaths() {
  return [
    { params: { id: 'acerca' } },
    { params: { id: 'contacto' } },
    { params: { id: 'projectos' } }
  ];
}
const { id } = Astro.params
---



<Layout title={`Dinamic routes ${id}`}>
    <main class="text-center">
        <h1 class="text-5xl font-extrabold">{id}</h1>
    </main>
</Layout>