---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Portafolio Jorge Antonio Monterroso Aspuac">
	<main class="text-center p-10">
		<h1 class="text-5xl lg:text-4xl xl:text-5xl md:text-3xl sm:text-2xl font-bold">
			Tailwind
		</h1>
		<div class="flex ...">
			<div class="flex-none ...">
			  01
			</div>
			<div class="flex-auto w-64 ...">
			  02
			</div>
			<div class="flex-auto w-32 ...">
			  03
			</div>
		</div>
	</main>
</Layout>

<style>
	
</style>
